body {
    background-image: url(image/wood.jpg);
}

.game {
    position: absolute;
    width: 700px;
    height: 400px;
    margin-left: 220px;
    margin-top: 130px;
}

#playP {
    position: absolute;
    margin-left: 220px;
    margin-top: 60px;
    font-size: 40px;
}

.row {
    display: flex;
    background-image: url(image/blackWood.jpg);
    font-style: italic
}

.row .nav-item {
    display: flex;
    width: 100px;
    height: 40px;
}


.nav-item .active {
    background: #ADA996;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav-item .nav-link.active {
    color: #000000;
    transition: 3s;
}

.nav-item .nav-link {
    color: rgb(255, 255, 255);
    background-color: transparent;
}

.nav-item .nav-link:hover {
    color: rgb(255, 255, 255);
    background: #ADA996;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    text-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
}

#pills-profile .img {
    width: 500px;
    float: right;
    margin: 0px;
}

#pills-profile img {
    width: 100%;
    width: 500px;
    height: auto;
    margin-left: 300px;
    margin-bottom: 20px;
}



/* #pills-profile .img {
    display: flex;
    align-content: flex-end;
} */

.tab-content .tab-pane .you img {
    display: flex;
    width: 100%;
    width: 300px;
    height: auto;
    margin-left: 800px;
    margin-bottom: 200px;
}

.row .text.accueil {
    display: flex;
    width: 300px;
}

.row .text.profile {
    float: left;
    margin-left: 20px;
    display: flex;
    width: 300px;
}


.row .you {
    display: flex;
}

.row p {
    color: rgb(245, 240, 240);
    height: auto;
    width: 300px;
    margin-top: 20px;
    margin-left: 20px;
}

.carousel-inner {
    display: flex;
}

.carousel-inner .carousel-item .projet {
    display: flex;
}


#contact {
    width: 900px;
    margin: 250px auto 0;
    display: flex;
}

#contact .box {
    position: relative;
    width: 300px;
    height: 100px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 10px;
    background: #00171d;
    /* changer les images des box contact */
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 0 0 2px rgba(0, 7, 10, 1);
}

#contact .box .icon {
    width: 100%;
    height: 100%;
    background: #00171d;
    transition: 0.5s;
}

#contact .box .icon .fa,
#contact .box .icon .far {
    font-size: 4em;
    line-height: 100px;
    color: #0ff;
}

#contact .box:hover .icon {
    transform: scale(0);
}

#contact .box .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #03a9f4;
    transition: 0.5s;
    transform: scale(2);
    opacity: 0;
}

#contact .box:hover .details {
    transform: scale(1);
    opacity: 1;
}

#contact .box .details h3 {
    margin: 0;
    padding: 0;
    line-height: 100px;
    font-size: 25px;
    color: #fff;
}

#contact .box .redimension .details h3,
#contact .box .redimension .details h3 br {
    margin: 0;
    padding: 0;
    line-height: 50px;
    font-size: 25px;
    color: #fff;
}

#contact .box .details:nth-child(2) .details {
    background: #e91e63;
}

#contact .box .details:nth-child(2) .details {
    background: #607d8b;
}